.new_comment_title {
	font-size: 25px;
	border-top-left-radius: 25px;
	border: 1px grey solid;
	text-align: center;
	padding: 3px;
}

.new_comment_body {
	font-size: 25px;
	border-bottom-right-radius: 25px;
	border: 1px grey solid;
	text-align: center;
	padding: 3px;
	height: 100px;
}

.comment_box {
	width: auto;
	text-align: center;
	margin: 0 auto;
	clear: both;
}

.new_comment_button {
	width: 9vw;
	background-color: #E45755;
	color: #FFFFDB;
	border: none;
	border-radius: 25px;
	margin-top: 15px;
	font-family: Helvetica neue;
	font-size: 15px;
	padding: 0;
}

.comment_title {
	font-size: 50px;
	text-align: center;
	font-family: 'Architects Daughter', cursive;
}

.comment_form_bg {
	padding-top: 25px;
	border: 2px solid black;
	border-radius: 20px;
	width: 350px;
	margin: 0 auto;
	margin-top: 5%;
	padding-bottom: 25px;
	background-color: #BFF0D1;
	clear: both;
}

.comment_form_img {
	background-image: url(birdheadbob.gif);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: -1000;
	margin-left: -8px;
}

.post_to_comment {
	font-size: 25px;
	font-family: Helvetica;
	margin-top: 10%;
	margin-left: 10%;
	position: absolute;
	border: 1px solid black;
	width: 200px;
	background-color: white;
	padding: 5px;
}

.other_comments {
	font-size: 20px;
	font-family: Helvetica;
	margin-left: 10%;
	margin-top: 15%;
	position: absolute;
	border: 1px solid black;
	border-top: none;
	width: 200px;
	background-color: white;
	padding: 5px;
}









