.new_comment_title {
	font-size: 25px;
	border-top-left-radius: 25px;
	border: 1px grey solid;
	text-align: center;
	padding: 3px;
}

.new_comment_body {
	font-size: 25px;
	border-bottom-right-radius: 25px;
	border: 1px grey solid;
	text-align: center;
	padding: 3px;
	height: 100px;
	word-wrap: normal;
}

.comment_box {
	width: auto;
	text-align: center;
	margin: 0 auto;
}

.new_comment_button {
	width: 9vw;
	background-color: #E45755;
	color: #FFFFDB;
	border: none;
	border-radius: 25px;
	margin-top: 15px;
	font-family: Helvetica neue;
	font-size: 15px;
	padding: 0;
}

.comment_title {
	font-size: 50px;
	text-align: center;
	font-family: 'Architects Daughter', cursive;
	word-wrap: normal;
}

.comment_form_bg {
	padding-top: 25px;
	border: 2px solid black;
	border-radius: 20px;
	width: 350px;
	margin: 0 auto;
	margin-top: 5%;
	padding-bottom: 25px;
	background-color: #BFF0D1;
	clear: both;
	word-wrap: normal;
}

.comment_form_img {
	background-image: url(birdheadbob.gif);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: -1000;
	margin-left: -8px;
}

.post_to_comment {
	font-size: 25px;
	font-family: Helvetica;
	margin-top: 5%;
	margin-left: 5%;
	border: 1px solid grey;
	width: 350px;
	background-color: white;
	padding: 10px;
	position: absolute;
	overflow: scroll;
	height: 100px;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

.small_comment_title {
	text-decoration: underline;
}

.post_to_comment_title {
	border-bottom: grey solid 1px;
	margin-bottom: 2px;
}

.username_comment {
	font-style: italic;
	border-bottom: 1px grey solid;
}

.other_comments {
	font-size: 20px;
	font-family: Helvetica;
	position: absolute;
	margin-left: 5%;
	margin-top: 15%;
	border: 1px solid grey;
	width: 350px;
	background-color: white;
	padding: 10px;
	overflow: scroll;
	height: 200px;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

.post_to_comment_body {
	font-size: 15px;
}

.small_comment_body {
	font-size: 15px;
}





