.bio_form_top {
	font-size: 25px;
	border-top-left-radius: 25px;
	border: 1px grey solid;
	text-align: center;
	padding: 3px;
}
.bio_form_middle {
	border: 1px grey solid;
	font-size: 25px;
	text-align: center;
	padding: 3px;
}

.bio_form_bottom {
	font-size: 25px;
	border-bottom-right-radius: 25px;
	border: 1px grey solid;
	text-align: center;
	padding: 3px;
}

.bio_box {
	width: auto;
	text-align: center;
	margin: 0 auto;
}

.bio_button {
	width: 9vw;
	background-color: #E45755;
	color: #FFFFDB;
	border: none;
	border-radius: 25px;
	margin-top: 15px;
	font-family: Helvetica neue;
	font-size: 15px;
	padding: 0;
}

.bio_title {
	font-size: 50px;
	text-align: center;
	font-family: 'Architects Daughter', cursive;
}

.bio_form_bg {
	padding-top: 25px;
	border: 2px solid black;
	border-radius: 20px;
	width: 350px;
	margin: 0 auto;
	margin-top: 15%;
	padding-bottom: 25px;
	background-color: #BFF0D1;
}

.bio_form_bg_edit {
	padding-top: 25px;
	border: 2px solid black;
	border-radius: 20px;
	width: 350px;
	margin: 0 auto;
	margin-top: 5%;
	padding-bottom: 25px;
	background-color: #BFF0D1;
}

.bio_form_img {
	background-image: url(birdheadbob.gif);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: -1000;
	margin-top: -8px;
	margin-left: -8px;
}

.beak_quick_about_it {
	text-align: center;
	margin-top: 5%;
	font-size: 40px;
	font-family: 'Architects Daughter', cursive;
	color: white;
	text-shadow: 2px 2px #E45755;
}









